:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: #52ffa8;
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--DarkBlue);
  font-family: "Manrope", sans-serif;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

#content {
  background-color: var(--DarkGrayishBlue);
  max-width: 400px;
  padding: 1.25rem 1.25rem 2.5rem;
  border-radius: 1.25rem;
  text-align: center;
}

#advice {
  color: var(--LightCyan);
  font-size: 28px;
  line-height: 1.5;
  margin: 1.25rem 0.5rem;
}

#no {
  color: var(--NeonGreen);
  letter-spacing: 0.5 rem;
  font-size: 0.825rem;
  margin-bottom: 1 rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#divider {
  width: 95%;
  margin: 0.5rem;
}

#dice {
  background-color: var(--NeonGreen);
  padding: 1.25rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

#dice:hover {
  animation: glow 2s ease-in-out infinite;
  box-shadow: 0 0 30px 5px #6fe6ab;
}

.attribution {
  margin-top: 12%;
}
